FrbaHotel/FrbaHotel.v11.suo
FrbaHotel/bin/Debug/FrbaHotel.exe
FrbaHotel/bin/Debug/FrbaHotel.pdb
FrbaHotel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FrbaHotel/obj/Debug/FrbaHotel.FormulariosBase.ListadoDeSeleccion.resources
FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.cache
FrbaHotel/obj/Debug/FrbaHotel.csprojResolveAssemblyReference.cache
FrbaHotel/obj/Debug/FrbaHotel.exe
FrbaHotel/obj/Debug/FrbaHotel.pdb